
.board-row {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height: 30px;
}

.square {
    background:#E0E0E0;
    margin: 2px;
    color: #616161;
    font-weight: 500;
    font-size: 2.8em;
    text-align: center;
    flex: 1 1 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
}

.square:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.board {
    max-width: 350px;
    margin: 0 auto;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
    background: #FAFAFA;
    padding: 2px;
}

.square.empty {
    background: #FAFAFA !important;
}

.stats-board {
    padding: 10px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid #E0E0E0;
}

.won {
    background-color: gold;
}

.stat {
    display: flex;
    align-items: center
}

.stat svg {
    fill: #757575;
}

.stat-label {
    font-size: 20px;
    margin-left: 3px;
}

.btn {
    padding: 8px 20px;
    background-color: #e2e2e2;
    color: rgba(0,0,0,.87);
    border: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    border-radius: 2px;
}

.pt-30{
    padding-top: 30px;
}