.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
.modal .modal-main {
    position: fixed;
    background: white;
    width: 330px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 2px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.setting {
    margin-bottom: 30px;
}

.setting-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    color: #424242;
}

.divider{
    border-bottom: 1px solid lightgray;
    margin: 15px 0px;
}

.text-center{
    text-align: center;
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header .heading {
    margin: 0px;
}

.header .close svg:hover {
    fill: #2196f3;
    cursor: pointer;
}
/* tab */

.tablist {
    border-bottom: 1px solid #ddd;
}

.tab {
    position: relative;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 20px;
    -webkit-transition: background .3s cubic-bezier(.22,.61,.36,1);
    transition: background .3s cubic-bezier(.22,.61,.36,1);
}

.tab[aria-selected=true]:after {
    content: "";
    position: absolute;
}

.tab[aria-selected=true]:after {
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #2196f3;
}

.tab:hover,
.tab:focus {
  outline: 0;
  background-color: #f4f4f4;
	background-color: rgba(0,0,0,0.05);
}

.tab-panel {
    display: none;
}
.tab-panel[aria-expanded=true] {
    display: block;
}

.stat-box{
    display: flex;
    height: 75px;
    align-items: center;
}

.stat-box div {
    flex: 1 1 auto;
    text-align: center;
}

.stat-box .name {
    color: #757575;
    font-size: 14px;
}
.stat-box .val {
    font-size: 27px;
    /* color: #212121; */
}