.container {
    max-width: 350px;
    margin: 0 auto;
}

.heading {
    font-weight: 500;
}

.m-none{
margin: 0;
}

.best{
    width: 180px;
    height: auto;
    background-color: #EEEEEE;
    padding: 5px 10px 5px 10px;
    /* border-radius: 2px; */
    border: 1px solid #E0E0E0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.best.highlight {
    background-color: #FFF9C4;
    border: 1px solid #FFEB3B;
}

.best.flash{
    animation: pulse 2s;
}

.best-title {
    text-align: center;
    margin-bottom: 2px;
}

.flex-content-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center
}

.best-stat-label {
    margin-left: 4px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center; 
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 235, 59, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 235, 59, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 235, 59, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 235, 59, 0.4);
      box-shadow: 0 0 0 0 rgba(255, 235, 59, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 40px rgba(255, 235, 59, 0);
        box-shadow: 0 0 0 40px rgba(255, 235, 59, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 235, 59, 0);
        box-shadow: 0 0 0 0 rgba(255, 235, 59, 0);
    }
  }